/*Hero*/
.home-page{

  margin-top: 80px;
  height: auto;
  width: 100%;

}
.hero-section{
  display: flex;
  position: relative;
  justify-content: center;
  background-image: url("/hero-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.hero-buttons{
  display:flex;
  justify-content: space-around;
  position:absolute ;
  bottom: 10px;
  width: 80%;

}
.hero-btn{
  border: none;
  border-radius: 5px;
  height: 25px;
  background-color: whitesmoke;
}

/*New Arrivals and category pages*/
.new-arrivals-section{
 width: 100%;
 overflow-x: hidden;
 height: auto;
 position: relative;
 
  
}
.new-arrivals-title{
  margin-left: 1rem;
}

.product-card{
  display: grid;
  place-items: center;
  width: auto;
  height: auto;
}
.product-img{
  width:100%;
  height:100%;
}

.img-container{
  display: flex;
  justify-content: center;
  object-fit: contain;
  width: 100%;


 
}
.products-section{
  margin-top: 100px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden ;
  

}
.product-grid{
  display: grid;
  border: 1px solid rgb(119, 118, 118);
  height: auto;
  width: auto;
}
.product-card{
  display:inline-block;

}
.card-info{
  display: grid;
  width: 140px;
  height: 150px ;
  padding: 1rem;
  gap: 1rem;
  font-size:smaller;
  text-align: center;
}
.card-info span{
  display: block;
}
.card-button{
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 700;
  
}
.card-button:hover{
  background-color: black;
  color: white;
}


/*Business info*/
.business-offerings-section{
  display: grid;
  place-items: center;
  width: 100%;
  height: 700px; 
}
.business-offerings{
  display: grid;
  place-items: center;
  background-color: rgb(231, 227, 199);
  width: 100%;
  height: 100%;
  
  
}
.offering{
  text-align: center;
}
.offering i{
  font-size: 1.5rem;
}

.tagline{
  
  font-size: 1.5rem;
  width:300px;
  height: 150px;
}
.tagline span{
  display: block;
}

/*categories*/

.categories-section{
  width:100% ;
  height: 700px;
  
}
.categories-title{
  margin-left: 1rem;
}

.clothing-categories{
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

}

.category-card{
    background-color: rgb(211, 211, 211);
    border-radius: 1rem;
    min-width: 240px;
    height: 250px;
    background-size:contain ;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
}
.category-btn{
  border: none;
  border-radius: 5px;
  height: 25px;
  width:150px;
  background-color: white;
}

.shoes-category{
display: flex;
margin-top: 2rem;
align-items: flex-end;
justify-content: center;
background-image: url("/prada-shoes.png");
background-size: contain;
background-position: center;
background-repeat: no-repeat;
height: 40%;
}