/*HEADER*/

header {
  
  position: fixed;
  top: 0;
  overflow-x: hidden;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  z-index: 9999;
  

}


.logo-name{
  font-size: 1.1rem;
  font-weight: 600;
  text-align: right;
  width: 60%;
}
.toggle-menu{
  font-size: 1.05rem;
  width: 35%;
  text-align: right;
  padding-right: 1rem ;
  cursor: pointer;
}



/*NAV*/

nav {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 0,5rem;
  border-bottom: 1px solid black;

}

.nav-menu {
  position: fixed;
  width: 70%;
  height: 100%;
  top: 0;
  right: -100%;
  background-color:rgb(231, 231, 231);
  padding: 1rem;
  z-index: 9999;
  

}

.nav-links{
  margin-top: 3rem;
 padding-left: 2.5rem;
 font-size: 1.5rem;
 font-weight:500;
}


.show-menu{
  right:0;
}

.close-menu{
  font-size: 1.5rem;
  cursor: pointer;
  
}

.brand-names{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  align-items: center;
  white-space: nowrap;
  animation: scrollLeft 12s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translate(0%)
  }
  to {
    transform: translate(-200%);
  }
}
.brand-name{
  margin-right: 2.5rem;
  font-size: small;
}

.category-link{
  display: flex;
  margin-bottom: 0.5rem;

}
.category-link i{
  margin-right: 2rem;
  color: rgb(77, 76, 76);
}
.category-link li{
  color: rgb(77, 76, 76);
}

/*Footer*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;

  
}
.footer-info{
  padding: 1rem;
}
.footer-info span{
 font-size: small;
}
.footer-email{
  display: flex;
  background-color: white;
  border: none;
  width: 350px; 
  border-radius: 10px;
  overflow: hidden;
}
.send-email-address{
  border: none;
  background-color: white;
  font-size: 1rem;
}
.footer-info input{
  border: none;
  width: 300px;
  padding: 0.5rem;
}
.footer-policy{
  border: 1px solid black;
}
.copy-rights{
  width: 100%;
  text-align: center;
}
