/*CartPage styles*/

.cart-page{
  display: grid;
  margin-top: 100px;
  padding: 1rem;
}
.cart-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-heading div{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cart-amount-items{
  display:grid ;
  place-content: center;
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.2rem;
}

.selected-products{
  display: grid;
  text-align: center;
  
}
.cart-card{
  display: flex;
  width: 100%;
  height: 200px;
  border: 1px solid grey;
  margin-bottom: 1rem;
}
.selected-product-img-container{
  display: flex;
  place-items: center;
  max-width: 100px;
  height:150px ;
  
}
.selected-product-img{
  width: 100%;
  
}
.selected-product-info{
  display: grid;
  padding: 1rem;
  width: 100%;
  height: 80%;
  font-size: small;
 
}
.selected-product-heading{
  display: flex;
  justify-content: space-between;
}
.selected-product-name{
  width: 50%;
}
.remove-button{
  border: 1px solid grey;
  border-radius: 10px;
  font-weight: bold;
}
.checkout-btn{
border-radius: 10px;
 border: none;
 margin-bottom: 1rem;
 background-color: black;
 color: white;
 width: 80%;
 height: 50px;
}

/*ProductViewPage styles*/

.product-view-page{
  display:grid;
  margin-top: 80px;
  width: 100%;
  height: auto;

}
.img-slider{
  background-color: rgb(218, 218, 218);
  width:100%;
  height: 400px;
  

}
.slider-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.viewed-product-info{
  text-align:center;
  width:100%;
  height:auto;
  margin-top:1rem;
}

.viewed-product-category{
  font-size: small;
  color: grey;
}
.viewed-product-name{
 margin: 1rem;
 font-weight:500;
 font-size: 1.2rem;
}
.viewed-product-price{
  margin: 1rem;
}
.viewed-product-size{
  margin: 1rem;
}
.viewed-product-condition{
  margin: 1rem;
}
.viewed-product-buttons{
  width:100%;
  height: auto;
}
.viewed-product-buttons button{
 border: none;
 border-radius: 10px;
 margin-bottom: 1rem;
 background-color: black;
 color: white;
 width: 80%;
 height: 50px;
}


/*checkout page*/

.checkout-page{
  position: relative;
  padding: 1rem;
  margin-top: 60px;
}
.checkout-summary{
  background-color: white;
  border-radius: 10px;
  padding:1rem;
  width: 90%;
  height: auto;
  
}
.cart-summary-card, .total-price-div{
  display: flex;
  justify-content:space-between ;
  width: 100%;
  margin-bottom: 1rem;

}

